@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	background-color: #eef0f0;
}

header {
	text-align: center;
	max-width: 90%;
	align-items: center;
	margin: 0 auto;
	h1 {
		letter-spacing: 1px;
		font-size: 2.5em;
		margin: 1em auto;
		font-weight: 900;
	}
	p {
		opacity: 0.8;
		text-align: center;
	}
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 90vw;
	margin: 2em auto;
	#img-div {
		margin: 0 auto;
		padding: 3vw;
		background-color: #d8dad3;
		max-width: 100%;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.2);
		#image {
			border-radius: 10px;
			max-width: 100%;
			height: auto;
		}
		#img-caption {
			text-align: center;
			margin-top: 2vh;
			opacity: 0.8;
		}
	}
	#tribute-info {
		max-width: 100%;
		padding: 3vw;
		margin: 2vh auto;
		line-height: 25px;
		h3 {
			text-align: center;
			margin-bottom: 10px;
		}
		ul li {
			max-width: 95%;
			margin: 4px auto;
			strong {
				margin-right: 10px;
			}
		}
	}
	blockquote {
		margin: 3vh auto;
		letter-spacing: 0.5px;
		font-weight: 200;
		cite {
			display: block;
		}
	}
}
